<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="363" android:versionName="3.0" android:installLocation="internalOnly" package="pwnedpasswords.pwnedpasswords">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="29" />
	<application android:label="PwnedPass2.Android"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>